name: add to project

on:
  workflow_call:
    inputs:
      org:
        required: true
        type: string
      project-number:
        required: true
        type: string
    secrets:
      PROJECT_RW_TOKEN:
        required: false

permissions: {}

jobs:
  add-to-project:
    name: add to project
    permissions:
      repository-projects: write
    runs-on: ubuntu-latest

    steps:
      - name: add to project
        uses: actions/add-to-project@v1.0.2
        with:
          github-token: ${{ secrets.PROJECT_RW_TOKEN }}
          project-url: "https://github.com/orgs/${{inputs.org}}/projects/${{inputs.project-number}}"
