name: add labels to issue

on:
  workflow_call:
    secrets:
      ORG_MEMBERSHIP_TOKEN:
        required: false
      MEMBERS:
        required: false

permissions: {}

jobs:
  add-customer-submission-label:
    name: add customer-submission label
    permissions:
      issues: write
    runs-on: ubuntu-latest

    steps:
      - name: Add customer-submission label
        if: ${{ env.MEMBER == 'false' }}
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "customer-submission"
        env:
          GITHUB_TOKEN: ${{ secrets.ORG_MEMBERSHIP_TOKEN }}
          MEMBER: ${{ contains( secrets.MEMBERS, github.actor ) }}

  add-triage-label:
    name: add triage label
    permissions:
      issues: write
    runs-on: ubuntu-latest

    steps:
      - name: add triage label
        uses: andymckay/labeler@1.0.4
        with:
          add-labels: "triage"
