name: csharp coverage comment

on:
  workflow_call:
    inputs:
      filename:
        default: "coverage.cobertura.xml"
        required: false
        type: string
      thresholds:
        default: "80 90"
        required: false
        type: string

permissions: {}

jobs:
  coverage:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v7
        id: download
        with:
          pattern: ${{ inputs.filename }}

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          badge: true
          fail_below_min: true
          filename: ${{ inputs.filename }}
          format: markdown
          hide_branch_rate: false
          hide_complexity: false
          indicators: true
          output: both
          thresholds: ${{ inputs.thresholds }}

      - name: Add Coverage PR Comment
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          path: code-coverage-results.md
