name: go coverage

on:
  workflow_call:
    inputs:
      coverage-config:
        default: "./.testcoverage.yml"
        description: Path to coverage config, relative to the github workspace.
        required: false
        type: string
      profile:
        default: "cover.out"
        description: Path to coverage profile file.
        required: false
        type: string
    outputs:
      job-status:
        description: "job status"
        value: ${{ jobs.go-coverage.outputs.job-status }}

permissions: {}

jobs:
  go-coverage:
    name: go coverage
    outputs:
      job-status: ${{ job.status }}
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/download-artifact@v6
        id: download
        with:
          pattern: cover*
          merge-multiple: true

      - name: check test coverage
        uses: vladopajic/go-test-coverage@v2
        with:
          config: ${{ inputs.coverage-config }}
          profile: ${{ inputs.profile }}
