name: gofmt

on:
  workflow_call:

permissions: {}

jobs:
  gofmt:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: gofmt
        run: |
          gofmt_out="$(gofmt -s -l .)"
          if [ -n "${gofmt_out}" ]; then
            echo "[ERROR] Files failing gofmt: "
            echo "${gofmt_out}"
            echo "[ERROR_INFO] See below for gofmt stdout diff."
            gofmt -s -l -d .
            exit 1;
          else
            echo "[INFO] gofmt check passed."
          fi
