name: linter

on:
  workflow_call:
    inputs:
      filter-regex-include:
        default: ".*"
        description: Regular expression defining which files will be processed by linters.
        required: false
        type: string
      validate-all-codebase:
        default: false
        description: "Lint all files or only modified: true/false."
        required: false
        type: boolean
    outputs:
      job-status:
        description: "job status"
        value: ${{ jobs.lint-code-base.outputs.job-status }}

permissions: {}

jobs:
  lint-code-base:
    name: lint code base
    outputs:
      job-status: ${{ job.status }}
    permissions:
      contents: read
      packages: read
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: lint code base
        uses: super-linter/super-linter@v8.3.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FIX_BIOME_FORMAT: false
          FIX_BIOME_LINT: false
          # only lint new and modified files
          VALIDATE_ALL_CODEBASE: ${{ inputs.validate-all-codebase }}
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_SHELL_SHFMT: false
