name: make go github file

on:
  workflow_call:
    secrets:
      GIT_ACTOR:
        required: true
      GPG_PASSPHRASE:
        required: true
      GPG_PRIVATE_KEY:
        required: true

permissions: {}

jobs:
  make-go-github-file:
    name: update cmd/github.go
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          git_commit_gpgsign: true
          git_user_signingkey: true
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: make github.go file
        uses: senzing-factory/github-action-make-go-github-file@v2
        with:
          actor: ${{ secrets.GIT_ACTOR }}
