name: move pr to done dependabot

on:
  workflow_call:
    inputs:
      project:
        description: Project ID (classic projects not supported).
        required: true
        type: string
    secrets:
      PROJECT_RW_TOKEN:
        required: true

permissions: {}

jobs:
  move-pr-to-done-column:
    if: ${{ github.event.pull_request.merged == true || github.event.action  == 'closed' }}
    permissions:
      repository-projects: write
    secrets:
      PROJECT_RW_TOKEN: ${{ secrets.PROJECT_RW_TOKEN }}
    uses: senzing-factory/build-resources/.github/workflows/set-project-item-status.yaml@v4
    with:
      org: ${{ github.repository_owner }}
      project-number: ${{ inputs.project }}
      pr-node-id: ${{ github.event.pull_request.node_id }}
      status: Done
