name: move pr to done

on:
  workflow_call:
    inputs:
      project:
        default: Garage
        required: false
        type: string
    secrets:
      PROJECT_RW_TOKEN:
        required: true

permissions: {}

jobs:
  move-pr-to-done:
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    permissions:
      repository-projects: write
    runs-on: ubuntu-latest

    steps:
      - name: move PR to done
        if: ${{ github.event.pull_request.merged == true }}
        uses: alex-page/github-project-automation-plus@v0.9.0
        with:
          column: Done
          project: ${{ inputs.project }}
          repo-token: ${{ secrets.PROJECT_RW_TOKEN }}
